<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/temp1.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <div class="left">
            <div class="item">
                <span class="glyphicon glyphicon-search"></span><input class="col-md-2" type="search" placeholder=" Location">
            </div>
            <div class="item">
            </div>
            <div class="item active">
                <span class="glyphicon glyphicon-menu-right"></span> Location 1</div>
            <div class="item">
                <span class="glyphicon glyphicon-menu-right"></span> Location 2</div>
            <div class="item">
                <span class="glyphicon glyphicon-menu-right"></span> Location 3</div>
            <div class="item">
                <span class="glyphicon glyphicon-menu-right"></span> Location 4</div>
            <div class="item">
                <span class="glyphicon glyphicon-menu-right"></span> Location 5</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-6">

                </div>
                <div class="right col-xs-6">
                    <table class="table">
                        <tr>
                            <td class="docs">
                                <p class="ndoc">Weather</p>
                                <p class="distr">celsius</p>
                                <p class="storage">fahrenheit</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="docs">
                                <p class="ndoc">Wind</p>
                                <p class="distr">Speed</p>
                            </td>
                            <td class="docdate">time</td>
                        </tr>
                        <tr>
                            <td class="docs">
                                <p class="ndoc">Location</p>
                                <p class="distr">date</p>
                            </td>
                            <td class="docdate">Random</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


</body>
