.display {
    float: right;
}

.box4 {
    border-radius: 1px solid balck;
    width:100px;
    height: 100px;
}
#foot-contianer {
    
}
#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 400px solid #415ACB;
    border-right: 1000px solid transparent;
    position: relative;
    bottom : 0

}
#triangle-bottomright {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 400px solid #2E3C98;
    border-left: 1000px solid transparent;
}


/* Dropdown Button */
.dropbtn {
    /* background-color: #4CAF50; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}